# Ignore node_modules
node_modules/

# Lock files (optional)
package-lock.json
yarn.lock

# Environment files
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating system files
.DS_Store
Thumbs.db

